In [2]:
import os
import pandas as pd

In [27]:
cwd = os.getcwd() #current working directory
BASE_DIR = os.path.dirname(cwd)
data_dir = os.path.join(BASE_DIR, 'data')
cache_dir = os.path.join(BASE_DIR, 'cache')
os.makedirs(cache_dir, exist_ok = True)

In [4]:
for filename in os.listdir(DATA_DIR):
    print(filename, end = " ")

NameError: name 'DATA_DIR' is not defined

In [ ]:
df = pd.read_csv(os.path.join(data_dir, '2010.csv'))
df.head()

In [ ]:
df['Year'] = 2010

In [ ]:
df.head()

In [23]:
csv_files = [x for x in os.listdir(data_dir) if x.endswith('.csv')]
my_dataframes = []
for filename in csv_files:
#     print(filename, end = " ")
    year = filename[:4]
    csv_path = os.path.join(data_dir, filename)
    this_df = pd.read_csv(csv_path)
    this_df['filename'] = filename    
    this_df['year'] = year
#     print(this_df.head(n = 1))
    my_dataframes.append(this_df)

In [25]:
entire_dataframe = pd.concat(my_dataframes)
entire_dataframe.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,year
0,1,Toy Story 3,"$1,066,969,703","$415,004,880",38.9%,"$651,964,823",61.1%,2010.csv,2010
1,2,Alice in Wonderland,"$1,025,467,110","$334,191,110",32.6%,"$691,276,000",67.4%,2010.csv,2010
2,3,Harry Potter and the Deathly Hallows: Part 1,"$976,536,918","$295,983,305",30.3%,"$680,553,613",69.7%,2010.csv,2010
3,4,Inception,"$826,137,188","$292,576,195",35.4%,"$533,560,993",64.6%,2010.csv,2010
4,5,Shrek Forever After,"$752,600,867","$238,736,787",31.7%,"$513,864,080",68.3%,2010.csv,2010

In [26]:
entire_dataframe.tail()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,year
194,195,The Fox Hunter,"$1,577","$1,577",100%,-,-,2020.csv,2020
195,196,Hai Tang Hong,"$1,107","$1,107",100%,-,-,2020.csv,2020
196,197,The Transcendents,"$1,090","$1,090",100%,-,-,2020.csv,2020
197,198,Greater 2020 Re-release,$527,$527,100%,-,-,2020.csv,2020
198,199,Spaceship Earth,$168,-,-,$168,100%,2020.csv,2020

In [29]:
dataset = os.path.join(cache_dir, 'movies-boxoffice-dataset.csv')
entire_dataframe.to_csv(dataset, index = False)